src/rpg.xsd

<?xml version="1.0"?>
<!-- -*-xml-*-

  This is the XSD Schema for all the xml documents in the project.
  We use this to verify our xml.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="emptyType">
  </xs:complexType>

  <xs:simpleType name="idType">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <!-- skill graphs -->
  <xs:complexType name="pointType">
    <xs:attribute name="x" type="xs:int" />
    <xs:attribute name="y" type="xs:int" />
  </xs:complexType>

  <xs:complexType name="splineType">
    <xs:sequence>
      <xs:element name="p" type="pointType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- end skill graphs -->

  <xs:complexType name="measurementType">
    <xs:all>
      <xs:element name="imperial" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="metric" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>  
  
  <xs:simpleType name="abilitygroupidType">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <xs:simpleType name="abilityidType">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <xs:complexType name="encounterMonsterType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="name" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="count" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>    
  </xs:complexType>
  
  <xs:complexType name="encounterType">
    <xs:sequence>
      <xs:element name="encounterid" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="precis" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="motivation" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timers" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="threats" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="treats" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="progression" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="difficulty" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="details" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="strategy" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="outs" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="monsters" type="encounterMonsterType"
		  minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>    
  </xs:complexType>


  <xs:complexType name="attributionType">
  </xs:complexType>

  <xs:complexType name="inspirationType">
  </xs:complexType>
  
  <xs:complexType name="abilityrankidType">
    <xs:sequence>
      <xs:element name="abilityid" type="xs:string"/>
      <xs:element name="rank" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>    

  <!-- an enum -->  
  <xs:complexType name="abilitygroupfamilyType">
    <xs:choice>
      <xs:element name="lore" type="symbolType"/>
      <xs:element name="martial" type="symbolType"/>
      <xs:element name="general" type="symbolType"/>
      <xs:element name="magical" type="symbolType"/>
      <xs:element name="npc" type="symbolType"/>
      <xs:element name="primary" type="symbolType"/>
    </xs:choice>
  </xs:complexType>

  <!-- an enum -->  
  <xs:complexType name="monsterTagType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="amphibian" type="symbolType"/>
      <xs:element name="animal" type="symbolType"/>
      <xs:element name="beastman" type="symbolType"/>
      <xs:element name="deep-one" type="symbolType"/>
      <xs:element name="demon" type="symbolType"/>
      <xs:element name="demon-spawn" type="symbolType"/>
      <xs:element name="eedie" type="symbolType"/>
      <xs:element name="fey" type="symbolType"/>
      <xs:element name="giant" type="symbolType"/>
      <xs:element name="greenskin" type="symbolType"/>
      <xs:element name="human" type="symbolType"/>
      <xs:element name="herpetons" type="symbolType"/>
      <xs:element name="lycan" type="symbolType"/>
      <xs:element name="other" type="symbolType"/>
      <xs:element name="masquerade" type="symbolType"/>
      <xs:element name="serpentmen" type="symbolType"/>
      <xs:element name="undead" type="symbolType"/>
      <xs:element name="evil" type="symbolType"/> <!-- intrinsically evil creatures -->
    </xs:choice>
  </xs:complexType>

  <!-- an enum -->
  <xs:simpleType name="resourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Image" />
      <xs:enumeration value="Font" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="poolType">
    <xs:restriction base="xs:integer">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="attributeType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="strength" type="emptyType"/>
      <xs:element name="endurance" type="emptyType"/>
      <xs:element name="agility" type="emptyType"/>
      <xs:element name="speed" type="emptyType"/>
      <xs:element name="perception" type="emptyType"/>
    </xs:choice>
  </xs:complexType>      
  
  <!-- limit the attributes for archetypes -->
  <xs:complexType name="attributeLimitType">
    <xs:sequence>
      <xs:element name="attr" type="attributeType"/>
      <xs:element name="value" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>    

  <!-- limit the attributes for archetypes -->
  <xs:complexType name="attributeBonusType">
    <xs:sequence>
      <xs:element name="attr" type="attributeType"/>
      <xs:element name="value" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- an enum -->
  <xs:simpleType name="tableCategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Figure" />
      <xs:enumeration value="FullWidth" />
      <xs:enumeration value="Sideways" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="abilityactionType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="immediate" type="emptyType"/>
      <xs:element name="standard" type="emptyType"/>
      <xs:element name="minor" type="emptyType"/>
      <xs:element name="multi-turn" type="emptyType"/>
      <xs:element name="full-turn" type="emptyType"/>
      <xs:element name="move" type="emptyType"/>
      <xs:element name="reaction" type="emptyType"/>
      <xs:element name="reaction-or-minor" type="emptyType"/>
      <xs:element name="non-combat" type="emptyType"/>
      <xs:element name="free" type="emptyType"/>
      <xs:element name="tag" type="emptyType"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="abilityrangeType">
    <xs:choice maxOccurs="unbounded">
      <!-- <xs:element name="immediate" type="emptyType"/> -->
      <!-- <xs:element name="standard" type="emptyType"/> -->
      <!-- <xs:element name="minor" type="emptyType"/> -->
      <!-- <xs:element name="multi-turn" type="emptyType"/> -->
      <!-- <xs:element name="full-turn" type="emptyType"/> -->
      <!-- <xs:element name="move" type="emptyType"/> -->
      <!-- <xs:element name="reaction" type="emptyType"/> -->
      <!-- <xs:element name="reaction-or-minor" type="emptyType"/> -->
      <!-- <xs:element name="non-combat" type="emptyType"/> -->
      <!-- <xs:element name="free" type="emptyType"/> -->
      <!-- <xs:element name="tag" type="emptyType"/> -->
      <xs:element name="range-touch" type="emptyType"/>
      <xs:element name="range-weapon" type="emptyType"/>
      <xs:element name="range-short" type="emptyType"/>
      <xs:element name="range-medium" type="emptyType"/>
      <xs:element name="range-long" type="emptyType"/>
    </xs:choice>
  </xs:complexType>
  
  
  <xs:complexType name="prereqArchetypesType">
    <xs:sequence>
      <xs:element 
          name="archetypeid" 
          type="archetypeidType" 
          minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- an enum -->
  <xs:simpleType name="attrType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Strength" />
      <xs:enumeration value="Endurance" />
      <xs:enumeration value="Agility" />
      <xs:enumeration value="Speed" />
      <xs:enumeration value="Perception" />
    </xs:restriction>
  </xs:simpleType>

  <!--
      Primary attribute value prerequisites, e.g. Str > 10 ..
      I've decided this is mostly a bad idea.
  -->
  <xs:complexType name="prereqAttrType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
	<xs:element name="strength" type="xs:integer"/>
	<xs:element name="endurance" type="xs:integer"/>
	<xs:element name="agility" type="xs:integer"/>
	<xs:element name="speed" type="xs:integer"/>
	<xs:element name="perception" type="xs:integer"/>
      </xs:choice>      
    </xs:sequence>
  </xs:complexType>


  <!--
      Text type .. used for blocks of text like paragraphs and such.
      Doesn't allow paragraphs or sections

      FIXME: merge with blockgroup then remove!
  -->
  <xs:complexType name="textType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="aka" type="acronymType"/>
      <xs:element name="emph" type="emphType"/>
      <xs:element name="bold" type="boldType"/>
      <xs:element name="newline" type="newlineType"/>
      <xs:element name="defn" type="defnType"/>
      <xs:element name="equation" type="equationType"/>
      <xs:element name="measurement" type="measurementType"/>
      <xs:element name="smaller" type="textType"/>
      <xs:element name="list" type="itemizedListType"/>
      <xs:element name="olist" type="orderedListType"/>
      <xs:element name="img" type="imgType"/>
      <xs:element name="indexentry" type="indexentryType"/>
      <xs:element name="lore" type="symbolType"/>
      <xs:element name="martial" type="symbolType"/>
      <xs:element name="general" type="symbolType"/>
      <xs:element name="magical" type="symbolType"/>
      <xs:element name="geqqsymbol" type="symbolType"/>
      <xs:element name="leqqsymbol" type="symbolType"/>
      <xs:element name="geqsymbol" type="symbolType"/>
      <xs:element name="leqsymbol" type="symbolType"/>
      <xs:element name="ltsymbol" type="symbolType"/>
      <xs:element name="eg" type="acronymType"/>
      <xs:element name="ie" type="acronymType"/>
      <xs:element name="etc" type="acronymType"/>
      <xs:element name="ellipsis" type="symbolType"/>
      <xs:element name="notapplicable" type="acronymType"/>
      <xs:element name="percent" type="symbolType"/>
      <!-- <xs:element name="dpool" type="acronymType"/> -->
      <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="success" type="symbolType"/>
      <!-- <xs:element name="fail" type="symbolType"/> -->
      <!-- <xs:element name="attempt" type="symbolType"/> -->
      <xs:element name="explode" type="emptyType"/>
      <xs:element name="maxdice" type="emptyType"/>
      <xs:element name="pageref" type="pagerefType"/>
      <xs:element name="ref" type="refType"/>
      <xs:element name="recommendedabilityranksymbol" type="symbolType"/>
      <xs:element name="ambush" type="symbolType"/>
      <xs:element name="surprise" type="symbolType"/>
      <xs:element name="initiative" type="symbolType"/>
      <xs:element name="melee" type="symbolType"/>
      <xs:element name="immediate" type="symbolType"/>
      <xs:element name="reaction" type="symbolType"/>      
      <xs:element name="non-combat" type="symbolType"/>
      <xs:element name="tag" type="symbolType"/>
      <xs:element name="physical" type="symbolType"/>
      <xs:element name="defensive" type="emptyType"/>
      <xs:element name="abilityref" type="abilityrefType"/>
    </xs:choice>
    <xs:attribute name="noindent" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="abilityrefType">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <!-- <xs:attribute name="template" type="xs:string" use="optional"/> -->
    <xs:attribute name="rank" type="xs:int" />
  </xs:complexType>
  
  <!-- block of stuff (stuff at the subsection contents level) -->
  <xs:group name="blockGroup" >
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ambush" type="symbolType"/>
        <xs:element name="design" type="textType" />
        <xs:element name="descriptions" type="descriptionsType"/>
        <xs:element name="figure" type="figureType"/>
        <xs:element name="wrapimg" type="wrapimgType"/>
        <xs:element name="fourcolumns" type="blockType" />
        <xs:element name="hlise" type="emptyType"/> 
        <xs:element name="img" type="imgType"/> 
        <xs:element name="immediate" type="symbolType"/>
        <xs:element name="include" type="includeType" />
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="table" type="tableType"/>
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="melee" type="symbolType"/>
        <xs:element name="monster" type="monsterType"/>
        <xs:element name="noncombat" type="symbolType"/>          
        <xs:element name="p" type="textType" />
	<xs:element name="physical" type="symbolType"/>
	<xs:element name="defensive" type="symbolType"/>
        <xs:element name="provenance" type="provenanceType" />
        <xs:element name="playexample" type="playexampleType" />
        <xs:element name="principle" type="principleType" />
        <xs:element name="corollary" type="corollaryType" />
        <xs:element name="olist" type="orderedListType"/>
        <xs:element name="surprise" type="symbolType"/>
        <xs:element name="subsubsection" type="subsubsectionType" />
        <xs:element name="initiative" type="symbolType"/>
        <xs:element name="reaction" type="symbolType"/>      
	<xs:element name="tag" type="symbolType"/>      
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="blockType">
    <xs:sequence>
      <xs:group ref="blockGroup"/>    
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sectionContentType">
    <xs:complexContent>
      <xs:extension base="blockType">
  	<xs:sequence minOccurs="0" maxOccurs="unbounded">
	  <xs:choice>
            <xs:element name="subsection" type="subsectionType" />

	    <!-- for archetypes.. -->
            <xs:element name="archetypelevel" type="archetypelevelType" />
	  </xs:choice>	  
  	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  

  <xs:complexType name="tabledataType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="emph" type="emphType"/>
      <xs:element name="bold" type="boldType"/>
      <xs:element name="smaller" type="textType"/>
      <xs:element name="newline" type="newlineType"/>
      <xs:element name="defn" type="defnType"/>
      <xs:element name="measurement" type="measurementType"/>
      <xs:element name="olist" type="orderedListType"/>
      <xs:element name="list" type="itemizedListType"/>
      <xs:element name="descriptions" type="descriptionsType"/>
      <xs:element name="eg" type="acronymType"/>
      <xs:element name="p" type="textType" />
      <xs:element name="ampersand" type="symbolType" />
      <xs:element name="success" type="symbolType"/>
      <xs:element name="leqsymbol" type="symbolType"/>      
      <!-- <xs:element name="fail" type="symbolType"/> -->
      <!-- <xs:element name="attempt" type="symbolType"/> -->
      <xs:element name="indexentry" type="indexentryType"/>      
      <xs:element name="tablesection" type="xs:string"/>
      <!-- <xs:element name="recommendedabilitylevelsymbol" type="symbolType"/> -->
      <xs:element name="lore" type="symbolType"/>
      <xs:element name="martial" type="symbolType"/>
      <xs:element name="percent" type="symbolType"/>
      <xs:element name="physical" type="symbolType"/>
      <xs:element name="defensive" type="symbolType"/>
      <xs:element name="general" type="symbolType"/>
      <xs:element name="magical" type="symbolType"/>
      <xs:element name="ambush" type="symbolType"/>
      <xs:element name="surprise" type="symbolType"/>
      <xs:element name="initiative" type="symbolType"/>
      <xs:element name="immediate" type="symbolType"/>
      <xs:element name="melee" type="symbolType"/>
      <xs:element name="reaction" type="symbolType"/>      
      <xs:element name="noncombat" type="symbolType"/>
      <xs:element name="fightreach" type="symbolType"/>      
      <xs:element name="arrowleft" type="symbolType"/>            
      <xs:element name="img" type="imgType"/>
      <!-- <xs:element name="dpool" type="acronymType"/> -->
    </xs:choice>
    <!-- the number of columns the table data takes -->
    <xs:attribute name="width" type="xs:positiveInteger" default="1"/>
    <xs:attribute name="align" type="tabledataAlignmentType" default="l"/>
  </xs:complexType>

  
  <!--
      Tags for abilities.
  -->
  <xs:complexType name="abilityType">
    <xs:sequence>
      <xs:element name="abilitytitle" type="titleType"/>
      <xs:element name="abilityid" type="abilityidType"/>
      <xs:element name="abilitytemplate" type="xs:string" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="abilityactiontype" type="abilityactionType"/>
      <!-- <xs:element name="abilityrange" type="abilityrangeType"/> -->
      <xs:element name="tags" type="tagsType"/>
      <xs:element name="abilityranks" type="abilityranksType"/>
      <!-- Which book does this ability go in? phb or gmg? -->
      <xs:element name="gmgability" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abilitycheck" type="abilitycheckType" minOccurs="1" maxOccurs="3"/>
      <xs:element name="prereqabilityrank" type="prerequisiteType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="prereqtag" type="xs:string" minOccurs="0"/>
      <xs:element name="prereqnottag" type="xs:string" minOccurs="0"/>
      <xs:element name="prereqattr" type="prereqAttrType" minOccurs="0"/> <!-- e.g. Str > 13 -->
      <xs:element name="spline" type="splineType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abilitydescription" type="abilitydescriptionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="abilityranksType">
    <xs:attribute name="untrained" type="xs:int"/>
    <xs:attribute name="from" type="xs:int" />
    <xs:attribute name="to" type="xs:int" />
  </xs:complexType>


  <!-- type of check to use in an ability (patterns are regexes) -->
  <!-- N.B the multiplication symbol × is *NOT* an x!! -->
  <xs:simpleType name="_abilitycheckType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Magic\+Rank"/>
      <xs:pattern value="Mettle\+Rank"/>
      <xs:pattern value="Luck\+Rank"/>
      <xs:pattern value="No-Check"/> <!-- Monster abilities only -->
      <xs:pattern value="Opposed"/> <!-- DC depends on the target -->
      <xs:pattern value="Any-Std"/> <!-- Lucky ability only -->
      <xs:pattern value="Armour\+Rank"/> <!-- Armour ability only -->
      <xs:pattern value="Speed\+Rank"/> <!-- Non-attack abilities only -->
      <xs:pattern value="Strength\+Rank"/> <!-- Non-attack abilities only -->
      <xs:pattern value="Std\+3×Rank"/>  <!-- for accurate attacks,  -->
      <xs:pattern value="Std\+Rank"/>
      <xs:pattern value="Std\+Endurance"/> <!-- for monster attacks -->
      <xs:pattern value="Std\+Endurance\+Rank"/>
      <xs:pattern value="Std\+Willpower\+Rank"/>
      <xs:pattern value="Mettle\+Endurance"/> <!-- for monster attacks -->
      <xs:pattern value="Mettle\+3×Rank"/> <!-- for  -->
      <xs:pattern value="Std\+Agility\+Rank"/>
      <xs:pattern value="Std\+Strength"/>
      <xs:pattern value="Std\+Endurance"/>
      <xs:pattern value="Std\+Agility"/>
      <xs:pattern value="Std\+Speed"/>
      <xs:pattern value="Std\+Perception"/>
      <xs:pattern value="Std"/> <!-- for inaccurate attacks only -->
    </xs:restriction>
  </xs:simpleType>
  
  <!-- This is the only way to define restrictions and attributes smh. -->
  <xs:complexType name="abilitycheckType">
    <xs:simpleContent>
      <xs:extension base="_abilitycheckType">
	<xs:attribute name="name" type="abilityCheckNameType" use="optional"/>
	<xs:attribute name="dc" type="xs:string" use="required"/>
	<xs:attribute name="dmg" type="xs:string" use="optional"/>
	<xs:attribute name="type" type="xs:string" use="optional"/>
	<xs:attribute name="range" type="xs:string" use="optional"/>
	<xs:attribute name="effect" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- <!-\- type that describes an ability check.. -\-> -->
  <!-- <xs:complexType name="checkType"> -->
  <!--   <xs:simpleContent> -->
  <!--     <xs:restriction base="xs:string"> -->
  <!-- 	<xs:pattern value="Magic\+Rank"/> -->
  <!-- 	<xs:pattern value="Mettle\+Rank"/> -->
  <!-- 	<xs:pattern value="Luck\+Rank"/> -->
  <!-- 	<xs:pattern value="No-Check"/> <!-\- Monster abilities only -\-> -->
  <!-- 	<xs:pattern value="Opposed"/> <!-\- DC depends on the target -\-> -->
  <!-- 	<xs:pattern value="Any-Std"/> <!-\- Lucky ability only -\-> -->
  <!-- 	<xs:pattern value="Armour\+Rank"/> <!-\- Armour ability only -\-> -->
  <!-- 	<xs:pattern value="Speed\+Rank"/> <!-\- Non-attack abilities only -\-> -->
  <!-- 	<xs:pattern value="Strength\+Rank"/> <!-\- Non-attack abilities only -\-> -->
  <!-- 	<xs:pattern value="Std\+3×Rank"/>  <!-\- for accurate attacks, note the multiplication symbol (not an x) -\-> -->
  <!-- 	<xs:pattern value="Std\+Rank"/> -->
  <!-- 	<xs:pattern value="Std\+Endurance"/> <!-\- for monster attacks -\->  -->
  <!-- 	<xs:pattern value="Mettle\+Endurance"/> <!-\- for monster attacks -\->  -->
  <!-- 	<xs:pattern value="Std"/> <!-\- for inaccurate attacks only -\-> -->
  <!--     </xs:restriction> -->
  <!--   </xs:simpleContent> -->
  <!--   <xs:attribute name="name" type="abilityCheckNameType" use="optional"/> -->
  <!--   <xs:attribute name="dc" type="xs:string" use="required"/>  -->
  <!-- </xs:complexType> -->

  

  <!-- <!-\- type that describes an ability check.. -\-> -->
  <!-- <xs:complexType name="abilityCheckType"> -->
  <!--   <xs:attribute name="name" type="abilityCheckNameType" use="optional"/> -->
  <!--   <xs:attribute name="dc" type="xs:string" use="required"/> -->
  <!-- </xs:complexType> -->
  

  <!-- <!-\- type of check to use in an ability (patterns are regexes) -\-> -->
  <!-- <xs:simpleType name="checkType"> -->
  <!--   <xs:restriction base="xs:string"> -->
  <!--     <xs:pattern value="Magic\+Rank"/> -->
  <!--     <xs:pattern value="Mettle\+Rank"/> -->
  <!--     <xs:pattern value="Luck\+Rank"/> -->
  <!--     <xs:pattern value="No-Check"/> <!-\- Monster abilities only -\-> -->
  <!--     <xs:pattern value="Opposed"/> <!-\- DC depends on the target -\-> -->
  <!--     <xs:pattern value="Any-Std"/> <!-\- Lucky ability only -\-> -->
  <!--     <xs:pattern value="Armour\+Rank"/> <!-\- Armour ability only -\-> -->
  <!--     <xs:pattern value="Speed\+Rank"/> <!-\- Non-attack abilities only -\-> -->
  <!--     <xs:pattern value="Strength\+Rank"/> <!-\- Non-attack abilities only -\-> -->
  <!--     <xs:pattern value="Std\+3×Rank"/>  <!-\- for accurate attacks, note the multiplication symbol (not an x) -\-> -->
  <!--     <xs:pattern value="Std\+Rank"/> -->
  <!--     <xs:pattern value="Std\+Endurance"/> <!-\- for monster attacks -\->  -->
  <!--     <xs:pattern value="Mettle\+Endurance"/> <!-\- for monster attacks -\->  -->
  <!--     <xs:pattern value="Std"/> <!-\- for inaccurate attacks only -\-> -->
  <!--   </xs:restriction> -->
  <!-- </xs:simpleType>   -->

  <!-- type of check to use in an ability -->
  <xs:simpleType name="abilityCheckNameType">
    <xs:restriction base="xs:string">
      <xs:pattern value="Very-Easy"/>
      <xs:pattern value="Easy"/>
      <xs:pattern value="Moderate"/>
      <xs:pattern value="Difficult"/>
      <xs:pattern value="Very-Difficult"/>
      <xs:pattern value="Extremely-Difficult"/>
    </xs:restriction>
  </xs:simpleType>  

  <xs:complexType name="abilitydescriptionType" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="textType" />
        <xs:element name="include" type="includeType" />
        <xs:element name="table" type="tableType" />        
        <xs:element name="img" type="imgType"/>
        <xs:element name="figure" type="figureType"/>
        <xs:element name="wrapimg" type="wrapimgType"/>
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="defn" type="defnType"/>
        <xs:element name="ref" type="refType"/>
        <xs:element name="playexample" type="playexampleType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="archetypedescriptionType" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="textType" />
        <xs:element name="include" type="includeType" />
        <xs:element name="table" type="tableType" />        
        <xs:element name="img" type="imgType"/>
        <xs:element name="figure" type="figureType"/>
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="defn" type="defnType"/>
        <xs:element name="descriptions" type="descriptionsType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


  <!-- definition list desciptions -->
  <xs:complexType name="descriptionType" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="textType" />
        <xs:element name="include" type="includeType" />
        <xs:element name="table" type="tableType" />        
        <xs:element name="img" type="imgType"/>
        <xs:element name="figure" type="figureType"/>
        <xs:element name="wrapimg" type="wrapimgType"/>
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="defn" type="defnType"/>
        <xs:element name="ref" type="refType"/>
        <xs:element name="pageref" type="pagerefType"/>
        <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>    
        <xs:element name="measurement" type="measurementType"/>
	<xs:element name="eg" type="acronymType"/>
	<xs:element name="emph" type="emphType"/>
	<xs:element name="d4" type="acronymType"/>
	<xs:element name="d6" type="acronymType"/>
	<xs:element name="d8" type="acronymType"/>
	<xs:element name="d10" type="acronymType"/>
	<xs:element name="d12" type="acronymType"/>
	<xs:element name="d20" type="acronymType"/>
        <xs:element name="descriptions" type="descriptionsType"/>	
	
	<!--
	<xs:element name="fastsymbol" type="symbolType"/>
	<xs:element name="mediumsymbol" type="symbolType"/>
	<xs:element name="slowsymbol" type="symbolType"/>	
	<xs:element name="mediumorslowsymbol" type="symbolType"/>
	<xs:element name="startandreactionsymbol" type="symbolType"/>
	<xs:element name="mediumorslow" type="symbolType"/>
	<xs:element name="startandreaction" type="symbolType"/>
	<xs:element name="talk" type="symbolType"/>
	-->	
	<xs:element name="ambush" type="symbolType"/>
	<xs:element name="surprise" type="symbolType"/>
	<xs:element name="initiative" type="symbolType"/>
	<xs:element name="immediate" type="symbolType"/>
	<xs:element name="start" type="symbolType"/>
	<xs:element name="fast" type="symbolType"/>
	<xs:element name="medium" type="symbolType"/>
	<xs:element name="slow" type="symbolType"/>
	<xs:element name="physical" type="symbolType"/>	
      </xs:choice>
    </xs:sequence>
  </xs:complexType>



  
  <xs:complexType name="tableType">
    <xs:sequence> 
      <xs:element name="tablecategory" type="tableCategoryType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="tablespec" type="tablespecType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="tabletitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
      	<xs:element name="tableheaderrow" type="tableRowType" minOccurs="0" maxOccurs="unbounded"/>
      	<xs:element name="tablerow" type="tableRowType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:element name="tablelabel" type="labelType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="indexentry" type="indexentryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="compact" type="xs:boolean" default="false"/>
  </xs:complexType>

  
  <xs:complexType name="tablespecType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="fixed" type="xs:decimal"/> 
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tableSpecSettingType"/>


  <xs:complexType name="tableRowType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="td" type="tabledataType" />
      <xs:element name="th" type="tabledataType" />
      <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute name="newcolour" type="xs:boolean" default="true"/>
  </xs:complexType>



  <xs:simpleType name="tabledataAlignmentType" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="l" />
      <xs:enumeration value="c" />
      <xs:enumeration value="r" />
      <xs:enumeration value="X" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="orderedListType">
    <xs:sequence>
      <xs:element name="li" type="listItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="olist" type="orderedListType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemizedListType">
    <xs:sequence>
      <xs:element name="li" type="listItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="subsectionType" >
    <xs:sequence>
      <!-- Title is mandatory and has to come first! -->
      <xs:element name="subsectiontitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:group ref="blockGroup"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="archetypelevelType" >
    <xs:sequence>
      <!-- Title is mandatory and has to come first! -->
      <xs:element name="leveltitle" type="leveltitleType" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:group ref="blockGroup"/>
	<xs:element name="branch" type="branchType"/>
      <xs:element
          name="levelstamina"
          type="xs:string"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelhealth"
          type="xs:string"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelhealthrefresh"
          type="xs:string"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelluck"
          type="poolType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelluckrefresh"
          type="poolType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelmagic"
          type="poolType"
          minOccurs="0" maxOccurs="1"/>
      <xs:element
          name="levelmagicrefresh"
          type="poolType"
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="levelmettle"
          type="poolType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="levelmettlerefresh"
          type="poolType"
          minOccurs="1" maxOccurs="1"/>	
      </xs:choice>      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="leveltitleType"> 
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="levelnumber" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="streamConfigType" >
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element name="stream" type="streamType"/>
      </xs:choice>      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="streamType" >
    <xs:sequence>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tag" type="xs:string"/>
      <xs:element name="ability" type="xs:string"/>
      <xs:element name="and" type="andType"/>
      <xs:element name="or" type="orType"/>
      <xs:element name="not" type="notType"/>
      <xs:element name="stream" type="streamType"/>
      </xs:choice>    
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  
  <!-- stream and -->
  <xs:complexType name="andType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element name="tag" type="xs:string"/>
	<xs:element name="ability" type="xs:string"/>
	<xs:element name="and" type="andType"/>
	<xs:element name="or" type="orType"/>
	<xs:element name="not" type="notType"/>
	<xs:element name="stream" type="streamType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- stream or -->
  <xs:complexType name="orType">    
    <xs:sequence>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tag" type="xs:string"/>
      <xs:element name="ability" type="xs:string"/>
      <xs:element name="and" type="andType"/>
      <xs:element name="or" type="orType"/>
      <xs:element name="not" type="notType"/>
      <xs:element name="stream" type="streamType"/>
    </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  <!-- stream not -->
  <xs:complexType name="notType">    
    <xs:sequence>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tag" type="xs:string"/>
      <xs:element name="ability" type="xs:string"/>
      <xs:element name="and" type="andType"/>
      <xs:element name="or" type="orType"/>
      <xs:element name="not" type="notType"/>
    </xs:choice>
    </xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="branchType">
    <xs:sequence>
      <xs:element name="branchtitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="branchdescription" type="blockType" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
      	<xs:group ref="blockGroup"/>
	<xs:element name="path" type="pathType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="pathType">
    <xs:sequence>
      <xs:element name="pathtitle" type="titleType" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
      	<xs:element name="choice" type="choiceType" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="chance" type="xs:integer"/>
  </xs:complexType>

  <xs:complexType name="choiceType" mixed="true">
    <xs:sequence>
      <!-- <xs:element name="pathtitle" type="titleType" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="pathtitle" type="titleType" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:choice minOccurs="0" maxOccurs="unbounded"> -->
      <!-- 	<xs:group ref="blockGroup"/> -->
      <!-- </xs:choice> -->
    </xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="corollaryType">
    <xs:sequence>
      <xs:element name="corollarytitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="corollarybody" type="textType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="principleType">
    <xs:sequence>
      <xs:element name="principletitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="principlebody" type="textType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

    
  <xs:complexType name="sectionType">
    <xs:sequence>
      <!-- It's important for parsing that we have a mandatory sectiontitle first! -->
      <xs:element name="sectiontitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="design" type="textType" />
        <xs:element name="descriptions" type="descriptionsType"/>
        <xs:element name="fourcolumns" type="sectionType"/>    
        <xs:element name="figure" type="figureType" />
        <xs:element name="wrapimg" type="wrapimgType"/>
        <xs:element name="img" type="imgType"/> 
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="include" type="includeType" />
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="monsterblock" type="monsterblockType"/>
        <xs:element name="npcs" type="npcsType"/> 
        <xs:element name="p" type="textType" />
        <xs:element name="provenance" type="provenanceType" />
        <xs:element name="playexample" type="playexampleType" />
        <xs:element name="corollary" type="corollaryType" />
        <xs:element name="principle" type="principleType" />
        <xs:element name="olist" type="orderedListType"/>
        <xs:element name="subsection" type="subsectionType" />
        <xs:element name="table" type="tableType"/>
        <xs:element name="encounter" type="encounterType"/>
        <xs:element name="vspace" type="xs:integer" minOccurs="0" maxOccurs="unbounded" default="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- An image on a page by itself with nothing on the reverse page for handing out to players. -->
  <xs:complexType name="handoutType" mixed="true">
    <xs:sequence>
      <xs:element name="attribution" type="attributionType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="inspiration" type="inspirationType" minOccurs="0" maxOccurs="1"/>    
    </xs:sequence>
    <xs:attribute name="scale" type="xs:float"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>  
  
  <xs:complexType name="subsubsectionType" mixed="true">
    <xs:sequence>
      <xs:choice>
	<xs:element name="subsubsectiontitle" type="titleType" minOccurs="0" maxOccurs="1"/>
	<xs:element name="abilitytitle" type="titleType" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="textType" />
        <xs:element name="design" type="textType" />
        <xs:element name="provenance" type="provenanceType" />
        <xs:element name="playexample" type="playexampleType" />
        <xs:element name="olist" type="orderedListType"/>
        <xs:element name="indexentry" type="indexentryType"/>
        <xs:element name="descriptions" type="descriptionsType"/>
        <xs:element name="list" type="itemizedListType"/>
        <xs:element name="img" type="imgType"/>
        <xs:element name="figure" type="figureType"/>
        <xs:element name="wrapimg" type="wrapimgType"/>
        <xs:element name="table" type="tableType" />
        <xs:element name="playexample" type="playexampleType" />
        <xs:element name="vspace" type="xs:integer" default="1"/>
        <xs:element name="monster" type="monsterType"/>
      </xs:choice>
    </xs:sequence>
    <!--
	<xs:attribute name="anonymous" type="xs:boolean" default="false"/>
	-->
  </xs:complexType>


  <!-- equivalent to a paragraph but contains provenance notes -->
  <xs:complexType name="provenanceType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="p" type="textType" />
      <xs:element name="emph" type="emphType"/>
      <xs:element name="bold" type="boldType"/>
      <xs:element name="newline" type="newlineType"/>
      <xs:element name="defn" type="defnType"/>
      <xs:element name="olist" type="orderedListType"/>
      <xs:element name="list" type="itemizedListType"/>
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="figureType">
    <xs:sequence maxOccurs="unbounded">
      <xs:choice minOccurs="0">
        <xs:element name="img" type="imgType"/>
        <xs:element name="table" type="tableType" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="1">
	<xs:element name="caption" type="labelType" minOccurs="1" maxOccurs="1"/>
	<xs:element name="label" type="labelType" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="src" type="xs:string"/>      
    <xs:attribute name="position" type="xs:string"/>
    <xs:attribute name="fullwidth" type="xs:boolean"/>
    <xs:attribute name="noindent" type="xs:boolean" default="false"/>
    <xs:attribute name="sideways" type="xs:boolean" default="false"/>
  </xs:complexType>

  <!--

     Position
     r – the right side of the text
     l – the left side of the text
     i – the inside edge–near the binding (if[twoside]document)
     o – the outside edge–far from the binding
     -->
  <xs:complexType name="wrapimgType">
    <xs:attribute name="src" type="xs:string"/>      
    <xs:attribute name="position" type="xs:string"/>
    <xs:attribute name="scale" type="xs:float"/>
    <xs:attribute name="id" type="xs:string"/>    
  </xs:complexType>


  <xs:complexType name="playexampleType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="img" type="imgType"/>
        <xs:element name="p" type="textType" />
        <xs:element name="design" type="textType" />
        <xs:element name="provenance" type="provenanceType" />
        <xs:element name="olist" type="orderedListType"/>
        <xs:element name="descriptions" type="descriptionsType"/>
        <xs:element name="list" type="itemizedListType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="descriptionsType">
    <xs:sequence>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="term" type="textType"/>
        <xs:element name="description" type="descriptionType"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="termonnewline" type="xs:boolean"/>      
  </xs:complexType>


  <xs:simpleType name="prerequisiteType"> 
    <xs:restriction base="xs:string"/>
  </xs:simpleType>


  <xs:complexType name="listItemType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="p" type="textType" />
      <xs:element name="emph" type="emphType" />
      <xs:element name="olist" type="orderedListType"/>
      <xs:element name="list" type="itemizedListType"/>
      <xs:element name="descriptions" type="descriptionsType"/>
      <xs:element name="defn" type="defnType"/>
      <xs:element name="indexentry" type="indexentryType"/>
      <xs:element name="success" type="symbolType"/>
      <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ref" type="refType"/>
      <xs:element name="equation" type="equationType"/>
      <xs:element name="pageref" type="pagerefType"/>
      <xs:element name="eg" type="acronymType"/>
      <xs:element name="ellipsis" type="acronymType"/>
      <xs:element name="table" type="tableType"/>
      <xs:element name="d4" type="acronymType"/>
      <xs:element name="d6" type="acronymType"/>
      <xs:element name="d8" type="acronymType"/>
      <xs:element name="d10" type="acronymType"/>
      <xs:element name="d12" type="acronymType"/>
      <xs:element name="d20" type="acronymType"/>
      <xs:element name="dany" type="acronymType"/>      
    </xs:choice>
  </xs:complexType>


  <!--
      
      images must appear in figure type elements (like playexample).
      
  -->
  <xs:complexType name="imgType" mixed="true">
    <xs:sequence>
      <xs:element name="attribution" type="attributionType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="inspiration" type="inspirationType" minOccurs="0" maxOccurs="1"/>    
    </xs:sequence>
    <xs:attribute name="scale" type="xs:float"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>  


  <xs:complexType name="includeType">
    <xs:attribute name="src" type="xs:string"/>
  </xs:complexType>  

  <!--

labels and references.

  -->

  <xs:simpleType name="labelType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="pagerefType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>  

  <xs:simpleType name="refType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>  

  <xs:simpleType name="emphType"> 
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="boldType"> 
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="smallerType"> 
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="defnType"> 
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="titleType" mixed="true"> 
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="label" type="labelType"/>
      <xs:element name="indexentry" type="indexentryType"/>
      <xs:element name="ambush" type="symbolType"/>
      <xs:element name="surprise" type="symbolType"/>
      <xs:element name="initiative" type="symbolType"/>
      <xs:element name="immediate" type="symbolType"/>
      <xs:element name="fightreach" type="symbolType"/>
      <xs:element name="reaction" type="symbolType"/>
      <xs:element name="melee" type="symbolType"/>
      <!--
      <xs:element name="talk" type="symbolType"/>
      <xs:element name="startandreaction" type="symbolType"/>
      <xs:element name="resolution" type="symbolType"/>      
      <xs:element name="fast" type="symbolType"/>
      <xs:element name="medium" type="symbolType"/>
      <xs:element name="slow" type="symbolType"/>
      <xs:element name="mediumorslow" type="symbolType"/>
      <xs:element name="start" type="symbolType"/>
      -->
      <xs:element name="noncombat" type="symbolType"/>
      <xs:element name="physical" type="symbolType"/>
      <xs:element name="defensive" type="symbolType"/>
      <xs:element name="tag" type="symbolType"/>      
      <xs:element name="lore" type="symbolType"/>
      <xs:element name="martial" type="symbolType"/>
      <xs:element name="general" type="symbolType"/>
      <xs:element name="magical" type="symbolType"/>      
      <xs:element name="d4" type="acronymType"/>
      <xs:element name="d6" type="acronymType"/>
      <xs:element name="d8" type="acronymType"/>
      <xs:element name="d10" type="acronymType"/>
      <xs:element name="d12" type="acronymType"/>
      <xs:element name="d20" type="acronymType"/>      
      <xs:element name="dany" type="acronymType"/>      
      <xs:element name="dpool" type="acronymType"/>
      <xs:element name="smaller" type="smallerType"/>      
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="indexentryType" mixed="true"> 

    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="see" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="subentry" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="pointsType"> 
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:complexType name="symbolType">
  </xs:complexType>

  <xs:complexType name="acronymType">
  </xs:complexType>

  <xs:complexType name="monsterRoleType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="grunt" type="emptyType"/>
      <xs:element name="brute" type="emptyType"/>
      <xs:element name="elite" type="emptyType"/>
      <xs:element name="soldier" type="emptyType"/>
      <xs:element name="artillery" type="emptyType"/>
      <xs:element name="lurker" type="emptyType"/>
      <xs:element name="skirmisher" type="emptyType"/>
      <xs:element name="controller" type="emptyType"/>
      <xs:element name="leader" type="emptyType"/>
      <xs:element name="solo" type="emptyType"/>
    </xs:choice>
  </xs:complexType>
  

  <xs:complexType name="tagsType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">

      <!-- archetype -->
      <xs:element name="humanoid" type="emptyType"/>
      <xs:element name="magicuser" type="emptyType"/>
      <xs:element name="short" type="emptyType"/>

      <!-- races -->
      <xs:element name="dwarf" type="emptyType"/>
      <xs:element name="human" type="emptyType"/>
      <xs:element name="halfling" type="emptyType"/>
      <xs:element name="elf" type="emptyType"/>
      <xs:element name="fey" type="emptyType"/>
      
      <!-- sizes -->
      <xs:element name="verysmall" type="emptyType"/>
      <xs:element name="small" type="emptyType"/>
      <xs:element name="medium" type="emptyType"/>
      <xs:element name="large" type="emptyType"/>
      <xs:element name="verylarge" type="emptyType"/>      

      <!-- ability groups -->
      <xs:element name="accurate" type="emptyType"/> <!-- Std+3xRank -->
      <xs:element name="inaccurate" type="emptyType"/> <!-- Std -->
      <xs:element name="no-check" type="emptyType"/> <!-- No Check .. monster abilities only -->
      
      <xs:element name="abjuration" type="emptyType"/>
      <xs:element name="arcana" type="emptyType"/>
      <xs:element name="arts" type="emptyType"/>
      <xs:element name="conjuration" type="emptyType"/>
      <xs:element name="craft" type="emptyType"/>
      <xs:element name="general" type="emptyType"/>
      <xs:element name="gun" type="emptyType"/>
      <xs:element name="elemental" type="emptyType"/>
      <xs:element name="enchantment" type="emptyType"/>
      <xs:element name="evocation" type="emptyType"/>
      <xs:element name="language" type="emptyType"/>
      <xs:element name="luck" type="emptyType"/>
      <xs:element name="monster" type="emptyType"/>
      <xs:element name="magical" type="emptyType"/>
      <xs:element name="necromancy" type="emptyType"/>
      <xs:element name="npc" type="emptyType"/>
      <xs:element name="physical" type="emptyType"/>
      <xs:element name="primary" type="emptyType"/>
      <xs:element name="handtohand" type="emptyType"/>
      <xs:element name="ritual" type="emptyType"/>
      <xs:element name="rune" type="emptyType"/>
      <xs:element name="theurgic" type="emptyType"/>
      <xs:element name="scholar" type="emptyType"/>
      <xs:element name="skulduggery" type="emptyType"/>
      <xs:element name="social" type="emptyType"/>
      <xs:element name="special" type="emptyType"/>
      <xs:element name="transport" type="emptyType"/>
      <xs:element name="wilderness" type="emptyType"/>
      <xs:element name="wild-magic" type="emptyType"/>
      <xs:element name="versatile" type="emptyType"/> <!-- spells which are open to interpretation -->
      <xs:element name="maintain" type="emptyType"/> <!-- requires the minor action to keep going each round -->
      <xs:element name="untrained" type="emptyType"/>
      
      <!-- ability meta -->
      <xs:element name="lore" type="emptyType"/>
      <xs:element name="martial" type="emptyType"/>
      <xs:element name="brutal" type="emptyType"/>
      <xs:element name="core" type="emptyType"/>
      <xs:element name="basic" type="emptyType"/>  <!-- standard vanilla attack ability for a weapon -->
      <xs:element name="luckpool" type="emptyType"/>  <!-- dice pool ability -->
      <xs:element name="mettlepool" type="emptyType"/>  <!-- dice pool ability -->
      <xs:element name="magicpool" type="emptyType"/>  <!-- dice pool ability -->
      
      <!-- weapons -->
      <xs:element name="axe" type="emptyType"/>
      <xs:element name="long-bow" type="emptyType"/>
      <xs:element name="archery" type="emptyType"/>
      <xs:element name="mace" type="emptyType"/>
      <xs:element name="bow" type="emptyType"/>
      <xs:element name="dagger" type="emptyType"/>
      <xs:element name="crossbow" type="emptyType"/>
      <xs:element name="hammer" type="emptyType"/>
      <xs:element name="heavy-crossbow" type="emptyType"/>
      <xs:element name="spear" type="emptyType"/>
      <xs:element name="staff" type="emptyType"/>
      <xs:element name="shield" type="emptyType"/>
      <xs:element name="sword" type="emptyType"/>
      <xs:element name="weapon" type="emptyType"/>

      <!-- action type -->
      <xs:element name="collective" type="emptyType"/>
      <xs:element name="interuptible" type="emptyType"/>
      
      <!-- weapons/spells range  meta -->
      <xs:element name="melee" type="emptyType"/>
      <xs:element name="ranged" type="emptyType"/>
      <xs:element name="touch" type="emptyType"/>
      
      <!-- weapons meta -->
      <xs:element name="improvised" type="emptyType"/>
      <xs:element name="parry" type="emptyType"/>
      <xs:element name="slashing" type="emptyType"/>
      <xs:element name="piercing" type="emptyType"/>
      <xs:element name="crushing" type="emptyType"/>
      <xs:element name="inaccurate" type="emptyType"/>
      <xs:element name="iron" type="emptyType"/>
      <xs:element name="asanguineous" type="emptyType"/>
      <xs:element name="slow" type="emptyType"/>
      <xs:element name="as-mace" type="emptyType"/>
      <xs:element name="as-spear" type="emptyType"/>
      <xs:element name="reach" type="emptyType"/>
      <xs:element name="brace" type="emptyType"/>
      <xs:element name="grounding" type="emptyType"/>
      <xs:element name="fast" type="emptyType"/>
      <xs:element name="one-or-two-handed" type="emptyType"/>
      <xs:element name="two-handed" type="emptyType"/>
      <xs:element name="unparryable" type="emptyType"/>
      <xs:element name="disarm" type="emptyType"/>
      <xs:element name="black-powder" type="emptyType"/>
      <xs:element name="standing" type="emptyType"/>
      <xs:element name="slow-reload" type="emptyType"/>
      <xs:element name="lethal" type="emptyType"/>
      <xs:element name="nonlethal" type="emptyType"/>
      
      <!-- equipment meta -->
      <xs:element name="heavy" type="emptyType"/>
      
      <!-- patrons -->
      <xs:element name="klazyabolus" type="emptyType"/>      
      
    </xs:choice>
  </xs:complexType>
  
  
  <xs:complexType name="newlineType">
  </xs:complexType> 


  <xs:element name="abilitygroup" type="abilityGroupType"/>  

  <xs:complexType name="abilityGroupType">
    <xs:sequence>
      <xs:element 
          name="abilitygroupinfo" type="abilitygroupinfoType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ability" type="abilityType" minOccurs="0" maxOccurs="unbounded"/>      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="abilitygroupinfoType">
    <xs:sequence>
      <xs:element name="abilitygrouptitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="abilitygroupid" type="abilitygroupidType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="abilitygroupfamily" type="abilitygroupfamilyType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="abilitytags" type="tagsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abilitygroupdescription" 
		  type="descriptionType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dontdrawskilltree" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:choice>
	<xs:element name="enabled" type="emptyType"/>
	<xs:element name="disabled" type="emptyType"/>
      </xs:choice>
      <!-- 	</xs:complexType> -->
      <!-- </xs:element>        -->
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="archetypeidType">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <xs:complexType name="archetypeType">
    <xs:sequence>
      <xs:element 
          name="archetypetitle" 
          type="titleType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="archetypeid" 
          type="archetypeidType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="inheritance" 
          type="inheritanceType" 
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="archetypedescription" 
          type="archetypedescriptionType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="archetypeprimaryabilities" 
          type="blockType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="archetypeinitialabilities" 
          type="blockType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="archetypemovedistance" 
          type="pointsType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="startingcash" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="startinggear" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="height" 
          type="measurementType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="weight" 
          type="measurementType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="age" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="gender" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="aspectexamples" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="archetypetags"
          type="tagsType"
          minOccurs="0" maxOccurs="unbounded"/>
      <!-- <xs:element  -->
      <!--     name="archetypebio"  -->
      <!--     type="sectionContentType" -->
      <!--     minOccurs="1" maxOccurs="1"/>       -->
      <xs:element
          name="archetypelevels"
          type="sectionContentType"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="archetypeinitialabilities"
          type="blockType"
          minOccurs="0" maxOccurs="1"/>
      <xs:element name="streamconfig" type="streamConfigType" />
    </xs:sequence>
  </xs:complexType>


  <xs:element name="archetype" type="archetypeType"/>

  <xs:complexType name="inheritanceType">
    <xs:sequence>
      <xs:element 
          name="ancestor" 
          type="archetypeidType" 
          minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
 

  <!-- One of the top level elements in the schema -->
  <xs:element name="book" type="bookType"/>

  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="titlepage" type="titlePageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tableofcontents" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="listoffigures" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="listofart" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="listoftables" type="emptyType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="chapter" type="chapterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="table" type="tableType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="appendix" type="appendixType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="index" type="indexType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="newpage" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="landscape" type="xs:boolean" default="false"/>    
  </xs:complexType>

  <xs:complexType name="indexType">
  </xs:complexType>

  <xs:complexType name="titlePageType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="title" type="titleType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="subtitle" type="titleType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="vspace" type="xs:integer" minOccurs="0" maxOccurs="unbounded" default="1"/>
      <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="img" type="imgType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="chapterType">
    <xs:sequence>
      <xs:element name="chaptertitle" type="titleType" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="section" type="sectionType"/>
        <xs:element name="handout" type="handoutType"/>
        <xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fourcolumnsType">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="appendixType">
    <xs:sequence>
      <xs:element name="chapter" type="chapterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lineType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="geqqsymbol" type="symbolType"/>
      <xs:element name="leqqsymbol" type="symbolType"/>
      <xs:element name="d4" type="acronymType"/>
      <xs:element name="d6" type="acronymType"/>
      <xs:element name="d8" type="acronymType"/>
      <xs:element name="d10" type="acronymType"/>
      <xs:element name="d12" type="acronymType"/>
      <xs:element name="d20" type="acronymType"/>      
    </xs:choice>
  </xs:complexType>  

  <xs:complexType name="equationType">
    <xs:sequence>
      <xs:element name="line" type="lineType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


<!--

tags
-->

  <xs:element name="monstergroup" type="monsterGroupType"/>  

  <xs:complexType name="monsterGroupType">
    <xs:sequence>
      <xs:element
	  name="monstergroupinfo" type="monstergroupinfoType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="tags" type="tagsType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="monster" type="monsterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="monstergroupidType">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <xs:complexType name="monsterType">
    <xs:sequence>
      <xs:element name="monstertitle" type="titleType"/>
      <xs:element name="monsterid" type="idType"/>
      <xs:element name="monstertags" type="monsterTagType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="monsteraspect" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="monstermove" type="xs:positiveInteger"/>
      <xs:element name="monsterhealth" type="xs:positiveInteger"/>
      <xs:element name="monsterstamina" type="xs:positiveInteger"/>
      <xs:element name="monsterinitiativebonus" type="xs:string"/>
      <xs:element name="monstermettle" type="xs:string"/>
      <xs:element name="monsterluck" type="xs:string"/>
      <xs:element name="monstermagic" type="xs:string"/>
      <xs:element name="monsterrole" type="monsterRoleType"/>
      <xs:element name="armour" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dodge" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="parry" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="block" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="strength" type="xs:positiveInteger"/>
      <xs:element name="endurance" type="xs:positiveInteger"/>
      <xs:element name="agility" type="xs:positiveInteger"/>
      <xs:element name="speed" type="xs:positiveInteger"/>
      <xs:element name="perception" type="xs:positiveInteger"/>
      <xs:element name="abilityrankid" type="idType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="monsterdescription" type="descriptionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="monstergroupinfoType">
    <xs:sequence>
      <xs:element name="monstergrouptitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="monstergroupid" type="monstergroupidType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="monstergroupdescription" type="blockType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>



  <!--

  Monster presentation xml.

  -->
  <xs:complexType name="monsterblockType">
    <xs:sequence>
      <xs:element name="mbtitle" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbsubtitle" type="titleType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="mbtags" type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbac"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbhp"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbmove" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbinitiativebonus" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbmettle" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbmagic" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbstr"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbend"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbag"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbspd"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbluck"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbwil"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbper"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbabilities"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbaspects" type="textType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="mbdescription" type="subsubsectionType" minOccurs="0" maxOccurs="1"/>

      <!--
	  For npc instances..	  
      -->
      <xs:element name="mbnpc" type="mbnpcType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>  

  <xs:complexType name="monsterblockAbilitiesType">
    <xs:sequence>
      <xs:element name="mbability" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbcheck" type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbdmg"  type="textType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="mbeffect"  type="textType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="mbnpcType">
    <xs:sequence>
      <xs:element name="npcname" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="npchps" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>  


  <!--

    Patrons

  -->


  <xs:complexType name="patronType">
    <xs:sequence>
      <xs:element 
          name="patrontitle" 
          type="titleType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="patronid" 
          type="idType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="patrondescription" 
          type="blockType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element
	  name="abilitygroup"
	  type="abilityGroupType"
          minOccurs="1" maxOccurs="1"/> 
    </xs:sequence>
  </xs:complexType>

  <xs:element name="patron" type="patronType"/>


  <!--

    NPC Monster Block

  -->

  <xs:complexType name="dicepoolType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="d4" type="acronymType"/>
      <xs:element name="d6" type="acronymType"/>
      <xs:element name="d8" type="acronymType"/>
      <xs:element name="d10" type="acronymType"/>
      <xs:element name="d12" type="acronymType"/>
      <xs:element name="d20" type="acronymType"/>      
    </xs:choice>
  </xs:complexType>

  
  <!-- A single npc -->
  <xs:complexType name="fullNpcType" mixed="true">
    <xs:sequence>      
      <xs:element 
          name="monsterid" 
          type="idType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="name" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>

    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="partialNpcType" mixed="true">
    <xs:sequence>      
      <xs:element 
          name="name" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="health" 
          type="xs:positiveInteger" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="stamina" 
          type="xs:positiveInteger" 
          minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  

  <!-- group of heterogeneous npcs -->
  <xs:complexType name="npcGroupType" mixed="true">
    <xs:sequence>      
      <xs:element
          name="monsterid" 
          type="idType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="npc"
          type="partialNpcType" 
          minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>  
  
  <!-- a group of homogeneous npcs -->
  <xs:complexType name="npcsType" mixed="true">
    <xs:sequence>     
      <xs:element name="npcsid"
		  type="idType"
		  minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="npc" 
          type="fullNpcType" 
          minOccurs="0" maxOccurs="unbounded"/>
      <xs:element 
          name="npcgroup" 
          type="npcGroupType" 
          minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>


  <!--

    Image License Information

  -->

  <!-- licenses -->
  <xs:simpleType name="licenseType">
    <xs:restriction base="xs:string">      
      <!-- Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0) -->
      <xs:enumeration value="CC_BY-NC-ND_30" />

      <!-- Creative Commons Zero / Public Domain -->
      <xs:enumeration value="CC0" />

      <!-- Creative Commons Public Domain -->
      <xs:enumeration value="CCPD" />
    </xs:restriction>
  </xs:simpleType>
  

  <!-- a group of homogeneous npcs -->
  <xs:complexType name="licenseinfoType" mixed="false">
    <xs:sequence>     
      <xs:element
          name="sig" 
          type="xs:NCName"
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="type" 
          type="resourceType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element
          name="fname" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="license" 
          type="licenseType" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="artist" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="artistfullname" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>

      <!-- short name, e.g. deviantart -->
      <xs:element 
          name="source" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="url" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="notes" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Semantic versioning for the project -->
  <xs:element name="version" type="versionType"/>
  <xs:complexType name="versionType" mixed="false">
    <xs:sequence>     
      <xs:element 
          name="major" 
          type="xs:positiveInteger" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="minor" 
          type="xs:positiveInteger" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="revision" 
          type="xs:positiveInteger" 
          minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <!-- Weapons -->
  <xs:element name="weapons" type="weaponsType"/>
  <xs:complexType name="weaponsType" mixed="false">
    <xs:sequence>     
      <xs:element 
          name="weapon" 
          type="weaponType" 
          minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>  

  <xs:complexType name="rangeType" mixed="false">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="measurement" type="measurementType"/>
    </xs:choice>
  </xs:complexType>
  
  
  <xs:complexType name="weaponType" mixed="false">
    <xs:sequence>     
      <xs:element 
          name="name" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="damage" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="price" 
          type="xs:string" 
          minOccurs="1" maxOccurs="1"/>
      <xs:element 
          name="range" 
          type="rangeType" 
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="save" 
          type="xs:string" 
          minOccurs="0" maxOccurs="1"/>
      <xs:element 
          name="tags" 
          type="tagsType" 
          minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <!-- Character History Defn. -->
  <!-- One of the top level elements in the schema -->
  <xs:element name="characterhistory" type="characterHistoryType"/>

  <xs:complexType name="historyNodeType">
    <xs:sequence>
      <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="spline" minOccurs="0" maxOccurs="1" type="splineType" />
      <xs:element name="node" minOccurs="0" maxOccurs="unbounded" type="historyNodeType" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="characterHistoryType">
    <xs:sequence>
      <xs:element name="node" minOccurs="0" maxOccurs="1" type="historyNodeType"/>
    </xs:sequence>
  </xs:complexType>   
</xs:schema> 
